<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex" />
        <title>{% block title %}Concerto Platform{% endblock %}</title>
        {% block stylesheetsInclude %}
            <link rel="stylesheet" href="{{ asset('bundles/concertotest/angularjs/bower_components/bootstrap/dist/css/bootstrap.min.css?v=' ~ version) }}" />
            <link rel="stylesheet" href="{{ asset('bundles/concertotest/angularjs/bower_components/bootstrap/dist/css/bootstrap-theme.min.css?v=' ~ version) }}" />
            <link rel="stylesheet" href="{{ asset('bundles/concertotest/css/test.css?v=' ~ version) }}" />
            <link rel="stylesheet" href="{{ asset('bundles/concertotest/angularjs/bower_components/jquery-ui/themes/base/jquery-ui.min.css?v=' ~ version) }}" />
        {% endblock %}
    {% block stylesheets %}{% endblock %}
    {% block javascriptsInclude %}
        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/bower_components/jquery/dist/jquery.min.js?v=' ~ version) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/bower_components/jquery-ui/jquery-ui.min.js?v=' ~ version) }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/bower_components/angular/angular.js?v=' ~ version) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/bower_components/angular-cookies/angular-cookies.min.js?v=' ~ version) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/bower_components/angular-sanitize/angular-sanitize.js?v=' ~ version) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/bower_components/angular-bootstrap/ui-bootstrap.js?v=' ~ version) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/bower_components/angular-bootstrap/ui-bootstrap-tpls.js?v=' ~ version) }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/app/js/app.js?v=' ~ version) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/app/js/services/session_resume_service.js?v=' ~ version) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/app/js/controllers/test_runner_controller.js?v=' ~ version) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/app/js/controllers/session_resume_controller.js?v=' ~ version) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/app/js/directives/concerto_test_directive.js?v=' ~ version) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/concertotest/angularjs/bower_components/angular-file-upload/angular-file-upload.min.js?v=' ~ version) }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body ng-app="testRunner" ng-cloak>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>