<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex" />
        <title>{% block title %}Concerto Platform{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/concertotest/css/test.css?v=' ~ version) }}" />
        <link rel="stylesheet"
              href="{{ asset('bundles/concertotest/angularjs/bower_components/jquery-ui/themes/base/jquery-ui.min.css?v=' ~ version) }}" />
        <script type="text/javascript"
                src="{{ asset('bundles/concertotest/angularjs/bower_components/jquery/dist/jquery.min.js?v=' ~ version) }}"></script>
        <script type="text/javascript"
                src="{{ asset('bundles/concertotest/angularjs/bower_components/jquery-ui/jquery-ui.min.js?v=' ~ version) }}"></script>

        <script type="text/javascript"
                src="{{ asset('bundles/concertotest/angularjs/bower_components/angular/angular.min.js?v=' ~ version) }}"></script>
        <script type="text/javascript"
                src="{{ asset('bundles/concertotest/angularjs/bower_components/angular-sanitize/angular-sanitize.min.js?v=' ~ version) }}"></script>

        <script type="text/javascript"
                src="{{ asset('bundles/concertotest/angularjs/app/js/app.js?v=' ~ version) }}"></script>
        <script type="text/javascript"
                src="{{ asset('bundles/concertotest/angularjs/app/js/controllers/test_runner_controller.js?v=' ~ version) }}"></script>
        <script type="text/javascript"
                src="{{ asset('bundles/concertotest/angularjs/app/js/directives/concerto_test_directive.js?v=' ~ version) }}"></script>
        <script type="text/javascript"
                src="{{ asset('bundles/concertotest/angularjs/bower_components/angular-file-upload/angular-file-upload.min.js?v=' ~ version) }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}
</head>
<body ng-app="testRunner" ng-cloak>
{% block body %}{% endblock %}
</body>
</html>