{% extends "test_base.html.twig" %}

{% block body %}
    {{ include("ConcertoTestBundle::finished_template.html.twig") }}
    {{ include("ConcertoTestBundle::error_template.html.twig") }}
    {{ include("ConcertoTestBundle::loading_template.html.twig") }}
    {{ include("ConcertoTestBundle::unresumable_template.html.twig") }}
    {{ include("ConcertoTestBundle::test_container.html.twig") }}
    {{ include("ConcertoTestBundle::session_limit_reached_template.html.twig") }}
    {{ include("ConcertoTestBundle::test_not_found_template.html.twig") }}
    {{ include("ConcertoTestBundle::session_lost_template.html.twig") }}
    {{ include("ConcertoTestBundle::connection_retry_template.html.twig") }}
    <div ng-controller="testRunnerController" id="testContainer" ng-init="init('{{directory}}', '{{ test_slug }}', {% if test_name %} '{{ test_name }}' {% else %} null {% endif %}, '{{ params }}', {% if debug %}true{% else %}false{% endif %}, {{ keep_alive_interval }})">
        <div class="center">
            <table>
                <tr><td align="left">{{ 'ignition.ip'|trans }}</td><td align="left" style="padding-left: 15px; font-weight: bold;">{{ app.request.clientip }}</td></tr>
                <tr><td align="left">{{ 'ignition.browser'|trans }}</td><td align="left" style="padding-left: 15px; font-weight: bold;">{{ app.request.server.get("HTTP_USER_AGENT") }}</td></tr>
                <tr><td align="left">{{ 'ignition.time'|trans }}</td><td align="left" style="padding-left: 15px; font-weight: bold;">{{ "now"|date("Y-m-d H:i:s") }}</td></tr>
            </table>
        </div>
        <div id="browser_message" style="display:none;">
            {% if browser_valid %}
                <p style="color: red; font-weight: bold; text-align: center;">{{ 'ignition.browser.potentionallynotsupported'|trans }}</p>
            {% else %}
                <p style="color: red; font-weight: bold; text-align: center;">{{ 'ignition.browser.notsupported'|trans }}</p>
            {% endif %}
        </div>
        <noscript><p style="color: red; font-weight: bold; text-align: center;">{{ 'ignition.noscript'|trans }}</p></noscript>
        <script>document.getElementById('browser_message').style.display = '';</script>
    </div>
{% endblock %}