{% trans_default_domain "Test" %}
<div type="text/ng-template" id="concerto_table_query_wizard_dialog.html">
    <div class="modal-body completion-wizard-sql">
        {% embed "ConcertoPanelBundle::form_v_panel.html.twig" %}
        {% block legend %}{%verbatim%}{{title}}{%endverbatim%}{% endblock %}
        {% block legend_tooltip %}title{% endblock %}
    {% block description %}{%verbatim%}{{comment}}{%endverbatim%}{% endblock %}
    {% block elements %}
        {% embed "ConcertoPanelBundle::form_v_element.html.twig" %}
            {% trans_default_domain "Test" %}
            {% block label %}{{ 'completion.wizard.sql.parameters.label'|trans }}{% endblock %}
            {% block tooltip %}{{ 'completion.wizard.sql.parameters.tooltip'|trans }}{% endblock%}
            {% block control %}
                <ui-codemirror ui-refresh='codemirrorForceRefresh' ng-model="params" ui-codemirror-opts="miniCodemirror"></ui-codemirror>
                {% endblock %}
            {% endembed %}

        {% embed "ConcertoPanelBundle::form_v_element.html.twig" %}
            {% trans_default_domain "Test" %}
            {% block label %}{{ 'completion.wizard.sql.fetchcount.label'|trans }}{% endblock %}
            {% block tooltip %}{{ 'completion.wizard.sql.fetchcount.tooltip'|trans }}{% endblock%}
            {% block control %}
                <ui-codemirror ui-refresh='codemirrorForceRefresh' ng-model="n" ui-codemirror-opts="miniCodemirror"></ui-codemirror>
                {% endblock %}
            {% endembed %}

        {% embed "ConcertoPanelBundle::form_v_element.html.twig" %}
            {% trans_default_domain "Test" %}
            {% block label %}{{ 'completion.wizard.sql.table.label'|trans }}{% endblock %}
            {% block tooltip %}{{ 'completion.wizard.sql.table.tooltip'|trans }}{% endblock%}
            {% block control %}
                <select ng-model="selectedTable" ng-options="tables.name for tables in tables.collection" class='form-control'>
                    <option value="">{{ 'completion.wizard.sql.selection.empty.table'|trans }}</option>
                </select>
            {% endblock %}
        {% endembed %}

        {% embed "ConcertoPanelBundle::form_v_element.html.twig" %}
            {% trans_default_domain "Test" %}
            {% block row %}<tr class="formRowV" ng-if="selectedTable">{% endblock %}
                {% block label %}{{ 'completion.wizard.sql.type.label'|trans }}{% endblock %}
                {% block tooltip %}{{ 'completion.wizard.sql.type.tooltip'|trans }}{% endblock%}
                {% block control %}
                    {%verbatim%}
                    <span  class="btn-group">
                        <label class="btn btn-primary" ng-repeat="type in queryTypes" ng-model="$parent.$parent.selectedQueryType" uib-btn-radio="type">{{type}}</label>
                    </span>
                {%endverbatim%}
            {% endblock %}
        {% endembed %}

        {% embed "ConcertoPanelBundle::form_v_element.html.twig" %}
            {% trans_default_domain "Test" %}
            {% block row %}<tr class="formRowV" ng-if="selectedQueryType == 'INSERT'">{% endblock %}
                {% block label %}{{ 'completion.wizard.sql.insert.label'|trans }}{% endblock %}
                {% block tooltip %}{{ 'completion.wizard.sql.insert.tooltip'|trans }}{% endblock%}
                {% block control %}
                <table class="wizard-row-value" ng-repeat="value in insertedValues">
                    <tr>
                        <td>
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="value.useCode" uib-btn-radio="0">{{ 'completion.wizard.sql.options.wizard'|trans }}</label>
                                <label class="btn btn-primary" ng-model="value.useCode" uib-btn-radio="1" ng-click="buildUpdatedSql($index)">{{ 'completion.wizard.sql.options.code'|trans }}</label>
                            </div>
                        </td>
                        <td>
                            <select ng-model="value.variable" ng-options="column.name for column in selectedTable.columns" class='form-control' style="width: auto;">
                                <option value=""></option>
                            </select>
                        </td>
                        <td ng-if="!value.useCode" style="width:100%;">
                    <ui-codemirror ng-model="value.wizardValue" ui-codemirror-opts="sqlMiniCodemirror"></ui-codemirror>
                    </td>
                    <td ng-if="value.useCode" style="width:100%;">
                    <ui-codemirror ng-model="value.wizardCode" ui-codemirror-opts="sqlMiniCodemirror"></ui-codemirror>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="removeInsertedValue($index)">-</button>
                    </td>
                    </tr>
                </table>

                <div ng-if="!insertedValues">{{ 'completion.wizard.sql.insert.empty'|trans }}</div>
                <div class="wizard-add-button-wrapper"><button type="button" class="btn btn-primary" ng-click="addInsertedValue()">+</button></div>
            {% endblock %}
        {% endembed %}

        {% embed "ConcertoPanelBundle::form_v_element.html.twig" %}
            {% trans_default_domain "Test" %}
            {% block row %}<tr class="formRowV" ng-if="selectedQueryType == 'UPDATE'">{% endblock %}
                {% block label %}{{ 'completion.wizard.sql.update.label'|trans }}{% endblock %}
                {% block tooltip %}{{ 'completion.wizard.sql.update.tooltip'|trans }}{% endblock%}
                {% block control %}
                <table class="wizard-row-value" ng-repeat="value in updatedValues">
                    <tr>
                        <td>
                            <span class="btn-group">
                                <label class="btn btn-primary" ng-model="value.useCode" uib-btn-radio="0">{{ 'completion.wizard.sql.options.wizard'|trans }}</label>
                                <label class="btn btn-primary" ng-model="value.useCode" uib-btn-radio="1" ng-click="buildUpdateSql($index)">{{ 'completion.wizard.sql.options.code'|trans }}</label>
                            </span>
                        </td>

                        <td ng-if="!value.useCode">
                            <select ng-model="value.variable" ng-options="column.name for column in selectedTable.columns" class='form-control'>
                                <option value="">{{ 'completion.wizard.sql.selection.empty.column'|trans }}</option>
                            </select>
                        </td>
                        <td ng-if="!value.useCode" style="width:100%;">
                    <ui-codemirror ng-model="value.wizardValue" ui-codemirror-opts="sqlMiniCodemirror"></ui-codemirror>
                    </td>
                    <td ng-if="value.useCode" style="width:100%;">
                    <ui-codemirror ng-model="value.wizardCode" ui-codemirror-opts="sqlMiniCodemirror"></ui-codemirror>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="removeUpdatedValue($index)">-</button>
                    </td>
                    </tr>
                </table>

                <div ng-if="!updatedValues">{{ 'completion.wizard.sql.update.empty'|trans }}</div>
                <div class="wizard-add-button-wrapper"><button type="button" class="btn btn-primary" ng-click="addUpdatedValue()">+</button></div>
            {% endblock %}
        {% endembed %}

        {% embed "ConcertoPanelBundle::form_v_element.html.twig" %}
            {% trans_default_domain "Test" %}
            {% block row %}<tr class="formRowV" ng-if="selectedQueryType == 'SELECT'">{% endblock %}
                {% block label %}{{ 'completion.wizard.sql.select.label'|trans }}{% endblock %}
                {% block tooltip %}{{ 'completion.wizard.sql.select.tooltip'|trans }}{% endblock%}
                {% block control %}
                <table class="wizard-row-value" ng-repeat="value in selectedValues">
                    <tr>
                        <td>
                            <span class="btn-group">
                                <label class="btn btn-primary" ng-model="value.useCode" uib-btn-radio="0">{{ 'completion.wizard.sql.options.wizard'|trans }}</label>
                                <label class="btn btn-primary" ng-model="value.useCode" uib-btn-radio="1" ng-click="buildSelectSql($index)">{{ 'completion.wizard.sql.options.code'|trans }}</label>
                            </span>
                        </td>

                        <td ng-if="!value.useCode" style="width:100%;" align="left">
                            <select ng-model="value.variable" ng-options="column.name for column in selectedTable.columns" style="width:100%;" class='form-control'>
                                <option value="">{{ 'completion.wizard.sql.selection.empty.column'|trans }}</option>
                            </select>
                        </td>

                        <td ng-if="value.useCode" style="width:100%;">
                    <ui-codemirror ng-model="value.wizardCode" ui-codemirror-opts="sqlMiniCodemirror"></ui-codemirror>
                    </td>

                    <td ng-if="$index">
                        <button type="button" class="btn btn-danger" ng-click="removeSelectedValue($index)">-</button>
                    </td>
                    </tr>
                </table>

                <div class="wizard-add-button-wrapper"><button type="button" class="btn btn-primary" ng-click="addSelectedValue()">+</button></div>
            {% endblock %}
        {% endembed %}

        {% embed "ConcertoPanelBundle::form_v_element.html.twig" %}
            {% trans_default_domain "Test" %}
            {% block row %}<tr class="formRowV" ng-if="selectedQueryType && selectedQueryType != 'INSERT'">{% endblock %}
                {% block label %}{{ 'completion.wizard.sql.where.label'|trans }}{% endblock %}
                {% block tooltip %}{{ 'completion.wizard.sql.where.tooltip'|trans }}{% endblock%}
                {% block control %}
                <table class="wizard-row-value" ng-repeat="value in whereConditions">
                    <tr>
                        <td>
                            <span class="btn-group">
                                <label class="btn btn-primary" ng-model="value.useCode" uib-btn-radio="0">{{ 'completion.wizard.sql.options.wizard'|trans }}</label>
                                <label class="btn btn-primary" ng-model="value.useCode" uib-btn-radio="1" ng-click="buildWhereSql($index)">{{ 'completion.wizard.sql.options.code'|trans }}</label>
                            </span>
                        </td>

                        <td ng-if="!value.useCode" style="min-width: 100px;">
                            <select ng-if="$index" ng-model="value.logicOperator" class='form-control'>
                                <option selected="selected" value="AND">{{ 'completion.wizard.sql.where.logic.and'|trans }}</option>
                                <option value="OR">{{ 'completion.wizard.sql.where.logic.or'|trans }}</option>
                            </select>
                        </td>

                        <td ng-if="!value.useCode" style="min-width: 200px;">
                            <select ng-model="value.variable" ng-options="column.name for column in selectedTable.columns" class='form-control'>
                                <option value="">{{ 'completion.wizard.sql.selection.empty.column'|trans }}</option>
                            </select>
                        </td>

                        <td ng-if="!value.useCode" style="min-width: 200px;">
                            <select ng-model="value.operator" class='form-control'>
                                <option selected="selected" value="=">{{ 'completion.wizard.sql.where.operators.equal'|trans }}</option>
                                <option value="!=">{{ 'completion.wizard.sql.where.operators.notequal'|trans }}</option>
                                <option value=">">{{ 'completion.wizard.sql.where.operators.greater'|trans }}</option>
                                <option value=">=">{{ 'completion.wizard.sql.where.operators.equalgreater'|trans }}</option>
                                <option value="<">{{ 'completion.wizard.sql.where.operators.lesser'|trans }}</option>
                                <option value="<=">{{ 'completion.wizard.sql.where.operators.equallesser'|trans }}</option>
                                <option value="LIKE">{{ 'completion.wizard.sql.where.operators.like'|trans }}</option>
                                <option value="NOT LIKE">{{ 'completion.wizard.sql.where.operators.notlike'|trans }}</option>
                            </select>
                        </td>
                        <td ng-if="!value.useCode" style="width:100%;">
                    <ui-codemirror ng-model="value.wizardValue" ui-codemirror-opts="sqlMiniCodemirror"></ui-codemirror>
                    </td>
                    <td ng-if="value.useCode" style="width:100%;">
                    <ui-codemirror ng-model="value.wizardCode" ui-codemirror-opts="sqlMiniCodemirror"></ui-codemirror>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="removeWhereCondition($index)">-</button>
                    </td>
                    </tr>
                </table>

                <div ng-if="!updatedValues">{{ 'completion.wizard.sql.where.empty'|trans }}</div>
                <div class="wizard-add-button-wrapper"><button type="button" class="btn btn-primary" ng-click="addWhereCondition()">+</button></div>
            {% endblock %}
        {% endembed %}

        {% embed "ConcertoPanelBundle::form_v_element.html.twig" %}
            {% trans_default_domain "Test" %}
            {% block row %}<tr class="formRowV" ng-if="selectedQueryType == 'SELECT'">{% endblock %}
                {% block label %}{{ 'completion.wizard.sql.order.label'|trans }}{% endblock %}
                {% block tooltip %}{{ 'completion.wizard.sql.order.tooltip'|trans }}{% endblock%}
                {% block control %}
                <table class="wizard-row-value" ng-repeat="value in orderingOptions">
                    <tr>
                        <td>
                            <span class="btn-group">
                                <label class="btn btn-primary" ng-model="value.useCode" uib-btn-radio="0">{{ 'completion.wizard.sql.options.wizard'|trans }}</label>
                                <label class="btn btn-primary" ng-model="value.useCode" uib-btn-radio="1" ng-click="buildOrderingSql($index)">{{ 'completion.wizard.sql.options.code'|trans }}</label>
                            </span>
                        </td>

                        <td ng-if="!value.useCode" style="width:100%;">
                            <select ng-model="value.variable" ng-options="column.name for column in selectedTable.columns" style="width:100%;" class='form-control'>
                                <option value="">{{ 'completion.wizard.sql.selection.empty.column'|trans }}</option>
                            </select>
                        </td>
                        <td ng-if="!value.useCode">
                            <select ng-model="value.direction" class='form-control'>
                                <option selected="selected" value="ASC">{{ 'completion.wizard.sql.order.directions.ascending'|trans }}</option>
                                <option value="DESC">{{ 'completion.wizard.sql.order.directions.descending'|trans }}</option>
                            </select>
                        </td>

                        <td ng-if="value.useCode" style="width:100%;">
                    <ui-codemirror ng-model="value.wizardCode" ui-codemirror-opts="sqlMiniCodemirror"></ui-codemirror>
                    </td>             

                    <td>
                        <button type="button" class="btn btn-danger" ng-click="removeOrderingOption($index)">-</button>
                    </td>
                    </tr>
                </table>

                <div ng-if="!orderingOptions">{{ 'completion.wizard.sql.order.empty'|trans }}</div>
                <div class="wizard-add-button-wrapper"><button type="button" class="btn btn-primary" ng-click="addOrderingOption()">+</button></div>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}  

<div>
    <label><input ng-model="insertComments" type="checkbox" ng-true-value="1" ng-false-value="0" />{{ 'completion.wizard.default.insertcomments'|trans }}</label>
    <label><input ng-model="autoFormat" type="checkbox" ng-true-value="1" ng-false-value="0" />{{ 'completion.wizard.default.autoformat'|trans }}</label>
</div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="insert()">{{ 'form.button.apply'|trans({},"panel") }}</button>
    <button class="btn btn-warning" ng-click="cancel()">{{ 'form.button.cancel'|trans({},"panel") }}</button>
</div>
</div>