{% extends "ConcertoPanelBundle::base_home.html.twig" %}
{% set angular_app = "home" %}
{% trans_default_domain "home" %}

{% block body %}
    {{ include("ConcertoPanelBundle::translation_injector.html.twig") }}
    <div ng-controller="HomeController">
        <div class="center"><img src="{{ asset("bundles/concertopanel/images/logo.png") }}" /> v{{ version }}</div>
        <div class="center">
            <div style="display: table;">
                <fieldset>
                    <legend>{{ 'available.tests'|trans }}</legend>
                    <select ng-model="test" ng-options="t.name for t in testsCollection" class='form-control'>
                        <option value="">&lt;{{ 'none.selected'|trans }}&gt;</option>
                    </select>
                    <button class="btn btn-primary" ng-click="runTest()">{{ 'run.test'|trans }}</button>
                    <uib-alert type="danger" ng-show="showAlert">{{ 'no.test.selected'|trans }}</uib-alert>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}
