{% trans_default_domain "FileBrowser" %}

<table>
    <tr>
        <td valign="top" style="padding-right: 25px;">
            <div class="uploaderSection" nv-file-over="" uploader="uploader">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'uploader.queue.title'|trans }}</div>
                    <div class="panel-body">
                        <div>
                            <div class="well well-lg" ng-if="uploader.isHTML5" id="dragAndDropInfo">
                                {{ 'uploader.queue.droparea'|trans }}
                            </div>
                            <input type="file" nv-file-select="" uploader="uploader" multiple />
                        </div>
                        <div ng-if="uploader.isHTML5 && uploader.getNotUploadedItems().length" class="uploadProgress">
                            {{ 'uploader.queue.progress'|trans }}
                            <uib-progressbar class="progress-striped active" value="uploader.progress" type="primary" />
                        </div>
                        <div id="uploaderButtons" class="center">
                            <a class="btn btn-success btn-xs" ng-click="uploader.uploadAll()"
                               ng-if="uploader.getNotUploadedItems().length">
                                <span>{{ 'uploader.queue.buttons.uploadall'|trans }}</span>
                            </a>
                            <a class="btn btn-warning btn-xs" ng-click="uploader.cancelAll()"
                               ng-if="uploader.isUploading">
                                <span>{{ 'uploader.queue.buttons.cancelall'|trans }}</span>
                            </a>
                            <a class="btn btn-danger btn-xs" ng-click="uploader.clearQueue()"
                               ng-if="uploader.queue.length">
                                <span>{{ 'uploader.queue.buttons.removeall'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in uploader.queue">
                            <div class="center" ng-if="controller.isImage(item._file.type, true)"
                                 ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                            <p class="center">{% verbatim %}{{ item.file.name}}{% endverbatim %}</p>
                            <div ng-show="uploader.isHTML5" class="uploadProgress">
                                <uib-progressbar class="progress-striped active" value="item.progress" type="info" />
                            </div>
                            <p class="center">
                                <a class="btn btn-success btn-xs" ng-click="item.upload()"
                                   ng-if="! ( item.isReady || item.isUploading || item.isSuccess )">
                                    <span>{{ 'uploader.queue.buttons.upload'|trans }}</span>
                                </a>
                                <a class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-if="item.isUploading">
                                    <span>{{ 'uploader.queue.buttons.cancel'|trans }}</span>
                                </a>
                                <a class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span>{{ 'uploader.queue.buttons.remove'|trans }}</span>
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </td>
        <td valign="top" align="center" style="width:100%;">
            <div class="center">
                <button ng-click="loadFiles();"
                        class="btn btn-default btn-sm">{{ "list.button.refresh"|trans({},"panel") }}</button>
            </div>
            <div class="fileSection" style="margin-top: 10px;">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ 'uploader.library.title'|trans }}</div>
                    <div class="panel-body">
                        <uib-alert type="warning" ng-if="filelist.length == 0">
                            <i class="glyphicon glyphicon-exclamation-sign"></i>
                            {{ 'uploader.library.empty'|trans }}
                        </uib-alert>
                        <div class="thumbnail fileTile" ng-repeat="file in filelist"
                             ng-class="{ 'selectedFile': file.url == current_url }">
                            <img ng-if="controller.isImage(file.url)"
                                 ng-src="{% verbatim %}{{file.stamped_url}}{% endverbatim %}">
                            <div ng-if="!controller.isImage(file.url)" style="height:100px;"></div>
                            <div class="caption">
                                {% verbatim %}{{file.name}}{% endverbatim %}
                                <p>
                                    {% if cke_callback is defined %}
                                        <a class="btn btn-xs btn-success"
                                           ng-click="submitResult({{ cke_callback }}, file.url)">
                                            {{ 'uploader.library.buttons.use'|trans }}
                                        </a>
                                    {% endif %}
                                    <a class="btn btn-xs btn-default" target="_blank"
                                       href="{% verbatim %}{{file.url}}{% endverbatim %}" alt="">
                                        {{ 'uploader.library.buttons.open'|trans }}
                                    </a>
                                    <a class="btn btn-xs btn-danger"
                                       ng-click="remove( file )">{{ 'uploader.library.buttons.remove'|trans }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>