{% trans_default_domain "Test" %}

<div id="flow" flow-logic ng-class="{'flow-maximized':maximized}">
    <div id="flow-menu-wrapper">
        <div id="flow-menu" class="panel panel-default">
            <i class='glyphicon glyphicon-fullscreen' tooltip-append-to-body='true' uib-tooltip-html='"{{ "flow.buttons.maximize"|trans }}"' style="cursor: pointer;" ng-click="toggleMaximize();"></i><br/>
            <i class='glyphicon glyphicon-screenshot' tooltip-append-to-body='true' uib-tooltip-html='"{{ "flow.buttons.reset_view"|trans }}"' style="cursor: pointer;" ng-click="resetView();"></i><br/>
            <i class='glyphicon glyphicon-plus' tooltip-append-to-body='true' uib-tooltip-html='"{{ "flow.buttons.zoom_in"|trans }}"' style="cursor: pointer;" ng-click="setZoom(1);"></i><br/>
            <i class='glyphicon glyphicon-minus' tooltip-append-to-body='true' uib-tooltip-html='"{{ "flow.buttons.zoom_out"|trans }}"' style="cursor: pointer;" ng-click="setZoom(-1);"></i>
        </div>
    </div>
    <div id="flowContainerScroll" oncontextmenu="return false;">
        <div id="flowContainerWrapper">
            <div id="flowContainer" context-menu="onFlowCtxOpened()" data-target="menu-flow" tabindex="0" context-menu-disabled="disableContextMenu || (object.starterContent && !administrationSettingsService.starterContentEditable)" ng-class="{'cursor-resize':rectangleSelectionActive, 'cursor-move': movingActive}">
                <div id="selection-rectangle" hidden></div>
            </div>
        </div>
    </div>

    <div class="dropdown ctx-menu" id="menu-node">
        <ul class="dropdown-menu ctx-menu-ul" role="menu">
            <li class="ctx-element ctx-action ctx-action-active" ng-click="editNodeTitle(collectionService.getNode(nodeContext.id))">{{ "flow.buttons.rename_node"|trans }}</li>
            <li class="ctx-element ctx-action ctx-action-active" ng-click="exportTest(nodeContext.id)" ng-show="selectedNodeIds.length <= 1">{{ "flow.buttons.export_test"|trans }}</li>
            <li class="ctx-element ctx-action ctx-action-active" ng-click="exportTest(nodeContext.id)" ng-show="selectedNodeIds.length > 1">{{ "flow.buttons.export_tests"|trans }}</li>
            <li class="ctx-element ctx-action ctx-action-active" ng-click="copyNode(nodeContext.id)" ng-show="selectedNodeIds.length <= 1">{{ "flow.buttons.copy_node"|trans }}</li>
            <li class="ctx-element ctx-action ctx-action-active" ng-click="copyNode(nodeContext.id)" ng-show="selectedNodeIds.length > 1">{{ "flow.buttons.copy_nodes"|trans }}</li>            
            <li class="ctx-element ctx-action ctx-action-active" ng-click="removeNode(nodeContext.id)" ng-show="selectedNodeIds.length <= 1">{{ "flow.buttons.remove_node"|trans }}</li>
            <li class="ctx-element ctx-action ctx-action-active" ng-click="removeNode(nodeContext.id)" ng-show="selectedNodeIds.length > 1">{{ "flow.buttons.remove_nodes"|trans }}</li>
        </ul>
    </div>

    <div class="dropdown ctx-menu" id="menu-flow" context-menu-margin-bottom="10">
        <ul class="dropdown-menu ctx-menu-ul" role="menu">
            <div style="margin: 3px 20px 10px 10px;">
                <table style="width:100%;">
                    <tr>
                        <td style="width:16px;"><i class="glyphicon glyphicon-search"></i></td>
                        <td><input type="text" ng-model="nodeNameFilter" ctx-no-close-on-click class='form-control' /></td>
                    </tr>
                </table>
            </div>

            <uib-accordion close-others="true">
                <uib-accordion-group ng-init="isOpen = $first" is-open="isOpen" ng-repeat="tag in collectionService.getUniqueTags() | orderBy: 'name'" panel-class="panel-default">
                    <uib-accordion-heading>
                        <div ctx-no-close-on-click>{%verbatim%}{{tag | capitalize}} ({{ (collectionService.getTaggedCollection(tag) | filter:excludeSelfFilter | filter: { 'name': nodeNameFilter }).length}}){%endverbatim%}</div>
                    </uib-accordion-heading>

                    <li ng-repeat="test in collectionService.getTaggedCollection(tag) | filter:excludeSelfFilter | filter: { 'name': nodeNameFilter } | orderBy: 'name' as tests track by test.id" 
                        class="ctx-element ctx-action ctx-action-active" ng-click="addNewNode(0, test.id)">
                        <i class='glyphicon glyphicon-question-sign' tooltip-append-to-body='true' uib-tooltip-html='test.description'></i>
                        {% verbatim %}{{test.name}}{% endverbatim %}
                    </li>

                </uib-accordion-group>

                <uib-accordion-group panel-class="panel-default">
                    <uib-accordion-heading>
                        <div ctx-no-close-on-click>{{ "flow.tags.all"|trans }} {%verbatim%}({{ (collectionService.collection | filter:excludeSelfFilter | filter: { 'name': nodeNameFilter }).length}}){%endverbatim%}</div>
                    </uib-accordion-heading>

                    <li ng-repeat="test in collectionService.collection | filter:excludeSelfFilter| filter: { 'name': nodeNameFilter } | orderBy: 'name' as tests track by test.id" 
                        class="ctx-element ctx-action ctx-action-active" ng-click="addNewNode(0, test.id)">
                        <i class='glyphicon glyphicon-question-sign' tooltip-append-to-body='true' uib-tooltip-html='test.description'></i>
                        {% verbatim %}{{test.name}}{% endverbatim %}
                    </li>

                </uib-accordion-group>
            </uib-accordion>

            <li class="ctx-element ctx-action" ng-class="{'ctx-action-active':copiedNodes.length > 0, 'ctx-action-inactive':copiedNodes.length === 0}" ng-click="pasteNodes()">{{ "flow.buttons.paste_nodes"|trans }}</li>
        </ul>
    </div>
</div>