{% extends "ConcertoPanelBundle::form_h.html.twig" %}
{% set class_name = "Test" %}
{% trans_default_domain "Test" %}
{% set exportable = true %}

{% block legend %} 
    {% verbatim %}{{formTitle}}{% endverbatim %}
{% endblock %}
{% block elements %}
    {% embed "ConcertoPanelBundle::form_h_element.html.twig" %}
        {% trans_default_domain "Test" %}
        {% block label %}{{ 'form.field.name'|trans }}{% endblock %}
        {% block tooltip %}{{'form.field.name.tooltip'|trans}}{% endblock %}
        {% block control %}
            <input ng-disabled="object.starterContent && !administrationSettingsService.starterContentEditable" type="text" ng-model="object.name" style="width:100%;" class='form-control' ng-model-options='{ updateOn: "blur" }' />
        {% endblock %}
    {% endembed %}

    {% embed "ConcertoPanelBundle::form_h_element.html.twig" %}
        {% trans_default_domain "Test" %}
        {% block label %}{{ 'form.field.archived'|trans }}{% endblock %}
        {% block tooltip %}{{'form.field.archived.tooltip'|trans}}{% endblock %}
        {% block control %}
            <input type="checkbox" ng-disabled="object.starterContent && !administrationSettingsService.starterContentEditable"  ng-model="object.archived" ng-true-value="'1'" ng-false-value="'0'" />
        {% endblock %}
    {% endembed %}

    {% embed "ConcertoPanelBundle::form_h_element.html.twig" %}
        {% trans_default_domain "Test" %}
        {% block label %}{{ 'form.field.slug'|trans }}{% endblock %}
        {% block tooltip %}{{'form.field.slug.tooltip'|trans}}{% endblock %}
        {% block control %}
            <input ng-disabled="object.starterContent && !administrationSettingsService.starterContentEditable" type="text" ng-model="object.slug" style="width:100%;" class='form-control' ng-model-options='{ updateOn: "blur" }' />
        {% endblock %}
    {% endembed %}

    {% embed "ConcertoPanelBundle::form_h_element.html.twig" %}
        {% trans_default_domain "Test" %}
        {% block label %}{{ 'form.field.visibility'|trans }}{% endblock %}
        {% block tooltip %}{{'form.field.visibility.tooltip'|trans}}{% endblock %}
        {% block control %}
            <select ng-disabled="object.starterContent && !administrationSettingsService.starterContentEditable" ng-model="object.visibility" style="width:100%;" ng-options="visibility.value as visibility.label for visibility in visibilities" class='form-control'>
            </select>
        {% endblock %}
    {% endembed %}

    {% embed "ConcertoPanelBundle::form_h_element.html.twig" %}
        {% trans_default_domain "Test" %}
        {% block label %}{{ 'form.field.type'|trans }}{% endblock %}
        {% block tooltip %}{{'form.field.type.tooltip'|trans}}{% endblock %}
        {% block control %}
            <select ng-model="object.type" {% if isAddDialog == false %}ng-disabled="true"{% else %}ng-disabled="object.starterContent && !administrationSettingsService.starterContentEditable"{% endif %} 
                    style="width:100%;" ng-options="type.value as type.label for type in types" class='form-control'>
            </select>
        {% endblock %}
    {% endembed %}

    {% embed "ConcertoPanelBundle::form_h_element.html.twig" %}
        {% trans_default_domain "Test" %}
        {% block div %}<div class="horizontalElement center" ng-show="object.type == 1">{% endblock %}
            {% block label %}{{ 'form.field.wizard'|trans }}{% endblock %}
            {% block tooltip %}{{'form.field.wizard.tooltip'|trans}}{% endblock %}
            {% block control %}
                <select ng-model="object.sourceWizard" {% if isAddDialog == false %}ng-disabled="true"{% else %}ng-disabled="object.starterContent && !administrationSettingsService.starterContentEditable"{% endif %} 
                        style="width:100%;" ng-options="wizard.id as wizard.name for wizard in testWizardCollectionService.collection | filter : {'archived':'!1'} | orderBy: 'name'" class='form-control'>
                    <option value="">{{ "form.field.wizard.none"|trans }}</option>
                </select>
            {% endblock %}
            {% block extra_info %}
                <a ng-href="#/wizards/{% verbatim %}{{object.sourceWizard}}{% endverbatim %}" ng-show="object.sourceWizard !== null">
                    <i class="glyphicon glyphicon-link"></i>
                </a>
            {% endblock %}
        {% endembed %}

        {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
            {% embed "ConcertoPanelBundle::form_h_element.html.twig" %}
                {% trans_default_domain "Test" %}
                {% block label %}{{ 'form.field.accessibility'|trans }}{% endblock %}
                {% block tooltip %}{{'form.field.accessibility.tooltip'|trans}}{% endblock %}
                {% block control %}
                    <select ng-disabled="object.starterContent && !administrationSettingsService.starterContentEditable" ng-model="object.accessibility" style="width:100%;" ng-options="accessibility.value as accessibility.label for accessibility in accessibilities" class='form-control'>
                    </select>
                {% endblock %}
            {% endembed %}

            {% embed "ConcertoPanelBundle::form_h_element.html.twig" %}
                {% trans_default_domain "Test" %}
                {% block label %}{{ 'form.field.owner'|trans }}{% endblock %}
                {% block tooltip %}{{'form.field.owner.tooltip'|trans}}{% endblock %}
                {% block control %}
                    <select ng-disabled="object.starterContent && !administrationSettingsService.starterContentEditable" ng-model="object.owner" style="width:100%;" ng-options="owner.id as owner.username for owner in userCollectionService.collection | filter : {'archived':'!1'} | orderBy: 'username'" class='form-control'>
                        <option value="">{{"none.choosen"|trans({},"panel")}}</option>
                    </select>
                {% endblock %}
            {% endembed %}

            {% embed "ConcertoPanelBundle::form_h_element.html.twig" %}
                {% trans_default_domain "Test" %}
                {% block label %}{{ 'form.field.groups'|trans }}{% endblock %}
                {% block tooltip %}{{'form.field.groups.tooltip'|trans}}{% endblock %}
                {% block control %}
                    <input ng-disabled="object.starterContent && !administrationSettingsService.starterContentEditable" type="text" ng-model="object.groups" style="width:100%;" class='form-control' ng-model-options='{ updateOn: "blur" }' />
                {% endblock %}
            {% endembed %}
        {% endif %}

    {% endblock %}

    {% block sections %}
        <uib-accordion-group is-open="tabAccordion.input.open" ng-show="object.type != 1">
            <uib-accordion-heading>
                <i class="glyphicon glyphicon-info-sign" uib-tooltip-html="'{{ 'variables.input.fieldset.legend.tooltip'|trans }}'"></i>
                {{ 'variables.input.fieldset.legend'|trans }}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tabAccordion.input.open, 'glyphicon-chevron-right': !tabAccordion.input.open}"></i>
            </uib-accordion-heading>
            {{ include("ConcertoPanelBundle:Test:input_section.html.twig") }}
        </uib-accordion-group>

        <uib-accordion-group is-open="tabAccordion.logic.open" ng-show="object.type == 0">
            <uib-accordion-heading>
                <i class="glyphicon glyphicon-info-sign" uib-tooltip-html="'{{ 'logic.code.fieldset.legend.tooltip'|trans }}'"></i>
                {{ 'logic.code.fieldset.legend'|trans }}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tabAccordion.logic.open, 'glyphicon-chevron-right': !tabAccordion.logic.open}"></i>
            </uib-accordion-heading>
            {{ include("ConcertoPanelBundle:Test:logic_section.html.twig") }}
        </uib-accordion-group>

        <uib-accordion-group is-open="tabAccordion.logic.open" ng-show="object.type == 1">
            <uib-accordion-heading>
                <i class="glyphicon glyphicon-info-sign" uib-tooltip-html="'{{ 'logic.code.fieldset.legend.tooltip'|trans }}'"></i>
                {{ 'logic.code.fieldset.legend'|trans }}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tabAccordion.logic.open, 'glyphicon-chevron-right': !tabAccordion.logic.open}"></i>
            </uib-accordion-heading>
            {{ include("ConcertoPanelBundle:Test:wizard_section.html.twig") }}
        </uib-accordion-group>

        <uib-accordion-group is-open="tabAccordion.logic.open" ng-show="object.type == 2" id="accordion-group-test-flow">
            <uib-accordion-heading>
                <i class="glyphicon glyphicon-info-sign" uib-tooltip-html="'{{ 'flow.fieldset.legend.tooltip'|trans }}'"></i>
                {{ 'flow.fieldset.legend'|trans }}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tabAccordion.logic.open, 'glyphicon-chevron-right': !tabAccordion.logic.open}"></i>
            </uib-accordion-heading>
            {{ include("ConcertoPanelBundle:Test:flow_section.html.twig") }}
        </uib-accordion-group>

        <uib-accordion-group is-open="tabAccordion.output.open" ng-show="object.type != 1">
            <uib-accordion-heading>
                <i class="glyphicon glyphicon-info-sign" uib-tooltip-html="'{{ 'variables.output.fieldset.legend.tooltip'|trans }}'"></i>
                {{ 'variables.output.fieldset.legend'|trans }}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tabAccordion.output.open, 'glyphicon-chevron-right': !tabAccordion.output.open}"></i>
            </uib-accordion-heading>
            {{ include("ConcertoPanelBundle:Test:output_section.html.twig") }}
        </uib-accordion-group>

        <uib-accordion-group is-open="tabAccordion.log.open">
            <uib-accordion-heading>
                <i class="glyphicon glyphicon-info-sign" uib-tooltip-html="'{{ 'log.fieldset.legend.tooltip'|trans }}'"></i>
                {{ 'log.fieldset.legend'|trans }}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tabAccordion.log.open, 'glyphicon-chevron-right': !tabAccordion.log.open}"></i>
            </uib-accordion-heading>
            {{ include("ConcertoPanelBundle:Test:log_section.html.twig") }}
        </uib-accordion-group>
    {% endblock %}

    {% block floatingBarExtraButtons %}
        <button class="btn btn-primary" ng-click="startTest()">{{ 'form.button.run'|trans }}</button>
        <button class="btn btn-primary" ng-click="debugTest()">{{ 'form.button.debug'|trans }}</button>
        <!--<button class="btn btn-success" ng-click="updateDependent()">{{ 'form.button.update'|trans }}</button>-->
    {% endblock %}