{% extends "ConcertoPanelBundle::form_h.html.twig" %}
{% set class_name = "Administration" %}
{% trans_default_domain "Administration" %}
{% set exportable = false %}
{% set isAddDialog = false %}
{% set defaultButtons = 'false' %}

{% block legend %}
    {{ "form.title"|trans }}
{% endblock %}
{% block elements %}
    {% embed "ConcertoPanelBundle::form_h_element.html.twig" %}
        {% trans_default_domain "Administration" %}
        {% block label %}{{ 'form.settings.session_limit'|trans }}{% endblock %}
        {% block tooltip %}{{'form.settings.session_limit.tooltip'|trans}}{% endblock %}
        {% block control %}
            <input ng-disabled="!exposedSettingsMap.session_limit_overridable" type="text" ng-model="exposedSettingsMap.session_limit" style="width:100%;" class='form-control' ng-model-options='{ updateOn: "blur" }' />
        {% endblock %}
    {% endembed %}

    {% embed "ConcertoPanelBundle::form_h_element.html.twig" %}
        {% trans_default_domain "Administration" %}
        {% block label %}{{ 'form.settings.api_enabled'|trans }}{% endblock %}
        {% block tooltip %}{{'form.settings.api_enabled.tooltip'|trans}}{% endblock %}
        {% block control %}
            <input type="checkbox" ng-disabled="!exposedSettingsMap.api_enabled_overridable" ng-model="exposedSettingsMap.api_enabled" ng-true-value="'1'" ng-false-value="'0'">
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block sections %}
    <uib-accordion-group is-open="tabAccordion.messages.open">
        <uib-accordion-heading>
            <i class="glyphicon glyphicon-info-sign" uib-tooltip-html="'{{ 'messages.fieldset.legend.tooltip'|trans }}'"></i>
            {{ 'messages.fieldset.legend'|trans }}
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tabAccordion.messages.open, 'glyphicon-chevron-right': !tabAccordion.messages.open}"></i>
        </uib-accordion-heading>
        {{ include("ConcertoPanelBundle:Administration:messages_section.html.twig", {'class_name':"Administration"}) }}
    </uib-accordion-group>
    <uib-accordion-group is-open="tabAccordion.usageCharts.open">
        <uib-accordion-heading>
            <i class="glyphicon glyphicon-info-sign" uib-tooltip-html="'{{ 'usage_charts.fieldset.legend.tooltip'|trans }}'"></i>
            {{ 'usage_charts.fieldset.legend'|trans }}
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tabAccordion.usageCharts.open, 'glyphicon-chevron-right': !tabAccordion.usageCharts.open}"></i>
        </uib-accordion-heading>
        {{ include("ConcertoPanelBundle:Administration:usage_charts_section.html.twig", {'class_name':"Administration"}) }}
    </uib-accordion-group>
    <uib-accordion-group is-open="tabAccordion.packages.open">
        <uib-accordion-heading>
            <i class="glyphicon glyphicon-info-sign" uib-tooltip-html="'{{ 'packages.fieldset.legend.tooltip'|trans }}'"></i>
            {{ 'packages.fieldset.legend'|trans }}
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tabAccordion.packages.open, 'glyphicon-chevron-right': !tabAccordion.packages.open}"></i>
        </uib-accordion-heading>
        {{ include("ConcertoPanelBundle:Administration:packages_section.html.twig", {'class_name':"Administration"}) }}
    </uib-accordion-group>
    <uib-accordion-group is-open="tabAccordion.tasks.open" ng-show="tasksEnabled">
        <uib-accordion-heading>
            <i class="glyphicon glyphicon-info-sign" uib-tooltip-html="'{{ 'tasks.fieldset.legend.tooltip'|trans }}'"></i>
            {{ 'tasks.fieldset.legend'|trans }}
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tabAccordion.tasks.open, 'glyphicon-chevron-right': !tabAccordion.tasks.open}"></i>
        </uib-accordion-heading>
        {{ include("ConcertoPanelBundle:Administration:tasks_section.html.twig", {'class_name':"Administration"}) }}
    </uib-accordion-group>
    <uib-accordion-group is-open="tabAccordion.apiClients.open">
        <uib-accordion-heading>
            <i class="glyphicon glyphicon-info-sign" uib-tooltip-html="'{{ 'api_clients.fieldset.legend.tooltip'|trans }}'"></i>
            {{ 'api_clients.fieldset.legend'|trans }}
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tabAccordion.apiClients.open, 'glyphicon-chevron-right': !tabAccordion.apiClients.open}"></i>
        </uib-accordion-heading>
        {{ include("ConcertoPanelBundle:Administration:api_clients_section.html.twig", {'class_name':"Administration"}) }}
    </uib-accordion-group>
{% endblock %}

{% block floatingBarExtraButtons %}
    <button class='btn btn-success' ng-click="persistSettings();">{{ 'form.button.save'|trans({},"panel") }}</button>
{% endblock %}