{% trans_default_domain "Administration" %}

<div>
    <table class="tasks-info-table">
        <tr>
            <td>{{ "tasks.current_platform_v"|trans }} <strong>{%verbatim%}{{currentPlatformVersion}}{%endverbatim%}</strong></td>
            <td>{{ "tasks.available_platform_v"|trans }} <strong>{%verbatim%}{{availablePlatformVersion}}{%endverbatim%}</strong></td>
            <td><button class="btn btn-danger btn-sm" ng-click="upgradePlatform()" ng-show="isPlatformUpgradePossible()">{{ "tasks.buttons.upgrade"|trans }}</button></td>
        </tr>
        <tr>
            <td>{{ "tasks.current_content_v"|trans }} <strong>{%verbatim%}{{currentContentVersion}}{%endverbatim%}</strong></td>
            <td>{{ "tasks.available_content_v"|trans }} <strong>{%verbatim%}{{availableContentVersion}}{%endverbatim%}</strong></td>
            <td><button class="btn btn-danger btn-sm" ng-click="upgradeContent()" ng-show="isContentUpgradePossible()">{{ "tasks.buttons.upgrade"|trans }}</button></td>
        </tr>
        <tr>
            <td>{{ "tasks.backup_platform_v"|trans }} <strong>{%verbatim%}{{backupPlatformVersion}}{%endverbatim%}</strong></td>
            <td>{{ "tasks.backup_content_v"|trans }} <strong>{%verbatim%}{{backupContentVersion}}{%endverbatim%}</strong></td>
            <td>
                <button class="btn btn-danger btn-sm" ng-click="backup()">{{ "tasks.buttons.backup"|trans }}</button>
                <button class="btn btn-danger btn-sm" ng-click="restore()" ng-show="isRestorePossible()">{{ "tasks.buttons.restore"|trans }}</button>
            </td>
        </tr>
    </table>
</div>
<div class="center">
    <button ng-click="refreshTasks();" class="btn btn-default btn-sm btn-list-refresh">{{ "messages.list.buttons.refresh"|trans }}</button>
</div>
<div ui-grid="tasksOptions" ui-grid-auto-resize ui-grid-cellNav ui-grid-resize-columns ui-grid-exporter ui-grid-selection ui-grid-move-columns class="grid collectionTable"></div>