{% extends "::base_include.html.twig" %}
{% trans_default_domain "TestWizard" %}

{% block content %}
    <wizard class="testWizard" edit-mode="true" steps-collection="object.steps" hide-indicators="object.steps.length<=1">
        <div ng-controller="TestWizardCarouselStepController" ng-repeat="step in object.steps">
            <wz-step wz-title="{%verbatim%}{{step.title}}{%endverbatim%}" step-uid="{%verbatim%}{{step.id}}{%endverbatim%}">
                <div class="center wizard-step-buttons-top" ng-if="$index > 0 || $index < object.steps.length-1">
                    <button class="btn btn-warning" wz-previous ng-if="$index > 0">{{ "preview.buttons.previous"|trans }}</button>
                    <button class="btn btn-primary" wz-next ng-if="$index < object.steps.length-1">{{ "preview.buttons.next"|trans }}</button>
                </div>
                <div class="bs-callout bs-callout-info" align="left">
                    <h3 ng-bind="step.title"></h3>
                    <p ng-bind-html="step.description | trustedHtml"></p>
                </div>
                <div ng-repeat="param in step.params | orderBy: 'order' track by $index">
                    <wizard-param-setter param="param" parent="null" output="param.output" mode="outer" wizard-mode="{{wizard_mode}}" values="values" wizard-object="object" under-list="false"></wizard-param-setter>
                </div>
                <div class="center wizard-step-buttons-bottom" ng-if="($index > 0 || $index < object.steps.length-1) && step.params.length > 0">
                    <button class="btn btn-warning" wz-previous ng-if="$index > 0">{{ "preview.buttons.previous"|trans }}</button>
                    <button class="btn btn-primary" wz-next ng-if="$index < object.steps.length-1">{{ "preview.buttons.next"|trans }}</button>
                </div>
            </wz-step>
        </div>
    </wizard>
{% endblock %}